.header{
    position: relative;
    padding: var(--section-padding-top) 0;
    color: var(--secondary-text-color);
}

.header h1{
    text-align: center;
    
    font-size: 6rem;
    font-weight: 600;
}

.header p{
    text-align: center;
    font-size: 1.3rem;
    padding: 4vw 30% 2vw 30%;
    line-height: 180%;
}

.linkWrapper{
    margin: 2vw 0;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){

}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){

}